extends layout

block content
  .row.justify-content-center
    .col-md-6
      .card.shadow
        .card-body.text-center.p-5
          h1.mb-4 #{__('login.title')}
          p.mb-4 #{__('login.connect')}
          a.btn.btn-primary.btn-lg(href="/auth/login")
            i.bi.bi-box-arrow-in-right.me-2
            | #{__('login.button')}
